@import "src/style/globals";
@import "src/style/padding";

header {
  width: 100%;
  height: 36px;
  font-size: 24px;
  background-color: #fff;
  display: flex;

  @include use-intermediate-padding;
  @include use-top-bottom-padding;

  & > .Layout {
    display: flex;
    justify-content: space-between;
    @include mobile {
      @include use-side-margin;
    }
  }

  a {
   color: $color;
   text-decoration: none;
  }
}